@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";



/****** SN ADDED ******/

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

.search-section {
	background: #333 none repeat scroll 0% 0%; 
	margin-left: 0px;
	display: none;
	width: 100%;
//	position: absolute !important;
}

.search-section div ul {
//	margin: 0rem .5rem .15rem .5rem
	margin: 0rem;
	list-style: none;
}

.search-icon-link {
	width: 45px;
	height: 45px;
	padding-left: 7px;
}

a.search-icon-link .fi-magnifying-glass {
	color: #ffffff;
}



ul#search-button-list {
	line-height: 45px;
	margin: 0rem;
}

ul#search-button-list li {
	margin: 0px;
}

a#search-button {
	color: #000000;
//	padding-right: 20px;
	width: 60px;
}


/* Create Focus Triangle on search icon */

a#search-button:before, a#search-button:after {
	content: " ";
	height: 0px;
	width: 0px;
	position: relative;
	z-index: 2;
}


a#search-button.no-triangle i {
	padding-left: 20px !important;
}


a#search-button.triangle:before {
	content: " ";
	height: 0px;
	width: 0px;
	border: 10px solid transparent;
	border-bottom-color: #4679BD;
	padding: 0px;
	position: relative;
	z-index: 2;
	left: 35%;
//	bottom: 1px;
}

a#search-button.triangle:after {
	content: " ";
	height: 0px;
	width: 0px;
	border: 8px solid transparent;
	border-bottom-color: #FFFFFF;
	padding: 0px;
	position: relative;
	z-index: 2;
	left: -26%;
	bottom: -6px;
}


div.search-wrap {
//	padding: 0.25rem;
}

i#search {
  font-size: 28px;
  position: relative;
  float: left;
  width: 75px;
  height: 1px;
  top: -40px;
  left: 8px;
  color: #999999;
}

/* STYLE INPUT PLACEHOLDER */
input:-moz-placeholder { color:#4C4C4C; }
::-webkit-input-placeholder { color: #4C4C4C; }
:-moz-placeholder {
   color: #4C4C4C;  //FF 18-
}
::-moz-placeholder {
   color: #4C4C4C;  //FF 19+
}
:-ms-input-placeholder {  
   color: #4C4C4C;  
}



input[type='text'].search-bar {
	background: #FFF none repeat scroll 0% 0%;
    border: 0px none;
//  border-radius: 5px;
//	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
box-shadow: none !important;
	box-sizing: border-box;
	color: #000000;
//	display: inline;
	font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
	font-size: 1rem;
	line-height: 2rem;
	margin: 0px 0px 0px 0px;
	outline: 0px none;
	padding-left: 40px;
    width: 100%;
}

/* CSS FOR MENU "X" */

#menu-icon-section.left-small.open {
    background: #4679BD none repeat scroll 0% 0%;
}

#menu-label {
    background: #4679BD none repeat scroll 0% 0%;
    color: #FFFFFF;
}

.left-small {
border: none !important;
position: absolute !important; //otherwise addt'l space added below tab-bar
}

aside.left-off-canvas-menu {
background:  #4679BD none repeat scroll 0% 0%;
}

//Modify tab-bar color
.tab-bar {
	background: #FFFFFF none repeat scroll;
	border-top: 3px solid rgb(70, 121, 189);
	border-bottom: 3px solid rgb(70, 121, 189);
	height: 3.1rem !important;
}

.tab-bar-section.middle {
	padding-left: .25rem;
}

@media only screen and (min-width: 40.0625em) { 

	.tab-bar-section.middle {
  		left: 0rem;
		right: 0rem;
		padding-left: .25rem;
	}
	
	.search-section {
		display: none !important;
	}	
}	
	

.tab-bar-section div#logo {
	padding: 2px 0px !important;
}

.tab-bar-section div#logo img#headphone-logo {
	vertical-align: top;
}

.tab-bar-section div#logo img#letters-logo {
	vertical-align: middle;
	padding-bottom: .75rem;
}


.tab-bar .menu-icon span::after {
	box-shadow: 0px 0px 0px 2px #000, 0px 7px 0px 2px #000, 0px 14px 0px 2px #000;
}

.tab-bar .menu-icon.open {
    width:40px;
    height:40px;
    position:absolute;
    box-shadow: none !important;
    content: "";
}

.tab-bar .menu-icon.open:before,.tab-bar .menu-icon.open:after{
    content:'';
    position:absolute;
    width:20px;
    height:1.75px;
    background-color:white;
    top:18px;
}

.tab-bar .menu-icon.open:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
    left:10px;
}
.tab-bar .menu-icon.open:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
    right:10px;
}

tab-bar .menu-icon.open span::before, .tab-bar .menu-icon.open span::after {
	box-shadow: none;
}

ul#nav-list {
	line-height: 45px;
}

.main-section {
	text-align: left; 
	margin: 10px;
	padding: 0.5rem 1rem;
}
